@charset "UTF-8";
@import url("https://use.typekit.net/cfp7bsk.css");

/* CSS Document */

/* Typography */
h1{
	
	font-family: beloved-sans, sans-serif;
	font-weight: 700;
}

h2{
	font-family: beloved-sans, sans-serif;
	font-size: 20px;
}

a, p{
	font-family: stolzl, sans-serif;
	font-size: 15px;
}



.cover-container{
	background-color: #F7F6F4;
}

/*Navigatie menu*/
.nav {
	float: right;
}

.nav-link{
	color: black;
}

a.nav-link:hover{
	color: #D41E44 !important;
}

.rounded-circle-logo {
	margin-left: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	color: black;
	background-color: transparent;
}

/*Landingspage aanpassen*/

.introduction-page{
	background: #FFF2A8;
}
.col-sm-8{
	display: flex;
	justify-content: center;
}

.our-products-button{
	padding: 10px 30px 10px 30px;
	margin-top: 10px;
	margin-bottom: 50px;
	background-color: #F8BFD8;
	box-shadow: 4px 4px 8px gray;
	border: none;
	border-radius: 10px;
}

a.text-openings-button{
	text-decoration: none;
	color: #D41E44;
}

.opening-section{
	padding-left: 50px !important;
}

.sweater-picture{
	margin:auto;
}

/* Our Storie page */

.our-storie-section{
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 50px;
}

.our-mission{
	padding-top: 160px;
	text-align: end;
}

/*Our collection section */

.col-md-7, .col-md-5{
	background-color: rgba(255,242,168,1.0);
}
.product-image{
	padding: 40px;
}

.text-products {
	padding-top: 40px;
	padding-bottom: 40px;
}

.text-products {
	padding-top: 40px;
	padding-bottom: 40px;
	
}

.gallary-button{
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 10px 50px;
	color: #D41E44;
	background-color: #F8BFD8;
	box-shadow: 4px 4px 8px gray;
	border: none;
	border-radius: 10px;	
}

.product-gallary {
	padding-top: 50px;
	margin-bottom: 40px;
}
.card-body{
	background-color: transparent;
	border: none;
}
/* Socials Section */

.social-media-page{
	background-color: transparent;
	padding-top: 40px;
	padding-bottom: 40px;
}

.introduction-social{
	padding: 40px;
	margin: 20px;
	
}

.go-to-instagram{
	padding: 10px 30px 10px 30px;
	margin-top: 10px;
	margin-bottom: 50px;
	background-color: #F8BFD8;
	box-shadow: 4px 4px 8px gray;
	border: none;
	border-radius: 10px;
}

a.naya-the-brand-insta{
	color: #D41E44;
	text-decoration: none;
}

.instagram-add{
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Our Team section */

.name{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
}

.our-team{
	padding: 50px;
	background-color: rgba(255,242,168,1.0);
}

.btn{
	padding: 10px 30px 10px 30px;
	margin-top: 10px;
	margin-bottom: 50px;
	background-color: #F8BFD8;
	box-shadow: 4px 4px 8px gray;
	border: none;
	border-radius: 10px;
}

a.btn{
	color: #D41E44;
	text-decoration: none;
}

.jesper-picture{
	object-fit: cover;
}
.annelijn-picture {
	object-fit: cover;
}
