@charset "UTF-8";
/* CSS Document */



/*Navigatie menu*/
.nav {
	padding: 20px;
	float: right;
	margin-right: 20px;
	
}

.nav-link {
	color: black;
}


.rounded-circle-logo {
	margin-left: 20px;
}


/*Landingspage aanpassen*/
.col-sm-4{
	background: #FFF2A8;
}
.col-sm-8{
	display: flex;
	justify-content: center;
	background:#FFF2A8;
}

.our-products-button{
	color: #D41E44;
	background: #F8BFD8;
	border: none;
	box-shadow: 4px 4px 8px gray;
	border-radius: 20px;
}

/* Our Storie page */

.our-storie-section{
	background-color: pink;
	margin: -12px;
	padding: 40px;
}

.our-mission{
	padding-top: 100px;
	text-align: end;
}

.product-image{
	padding: 50px;
}
.text-products {
	padding-top: 40px;
	padding-bottom: 40px;
}

.text-products {
	padding-top: 40px;
	padding-bottom: 40px;
	
}

.gallary-button{
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 10px 20px;
	color: #D41E44;
	background: #F8BFD8;
	border: none;
	box-shadow: 4px 4px 8px gray;
	border-radius: 20px;
	
}
.product-gallary {
	padding: 50px;
	background-color: #F8BFD8;
}


